@import '../../../scss/helpers/extend.scss';

.filedroparea{

    box-sizing: border-box;
    background: #fff;
    border-radius: 6px;
    padding: 22px;

    .filedroparea__area{
        padding: 20px;
        border-radius: 20px;
        border: 2px dashed rgba(42,47,67,0.15);
    }
    &.onEnter{
        .filedroparea__area{
            border: 2px dashed rgba(42,47,67,0.5);
        }
    }

    .filedroparea__placeholder{
        @extend %flex-center;
        flex-direction: column;
        padding: 15px 10px 15px;
    }

    .filedroparea__img{
        opacity: 0.5;
        width: auto;
        height: 70px;
        max-width: 100%;
        margin: auto;
    }

    .filedroparea__image{
        text-align: center;
        margin: 15px auto 15px;
    }

    .filedroparea__description{
        margin: 15px auto 15px;
    }

    .filedroparea__button{
        margin: 15px auto 15px;
    }

    .filedroparea__input{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        opacity: 0;
    }

}
