@import '../../../scss/helpers/extend.scss';
.cart{

    position: relative;

    .cart__header{
        border-top: 1px solid #000;
        border-radius: 6px;
    }

    .cart__body{

    }

    .cart__footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0 8px;
        > * {
            display: inline-block;
            @extend %flex-center;
        }
    }

    .cart__price{

    }
    .cart__price-label{
        display: block;
        opacity: 0.98;
        font-family: OpenSans;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.42;
        letter-spacing: normal;
        text-align: left;
        color: #2a2f43;
    }
    .cart__price-block{
        .cart__price-value{
            font-family: Lato;
            font-size: 22px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.23;
            letter-spacing: -0.13px;
            text-align: left;
            color: #2a2f43;
        }
        .cart__price-currency{
            font-family: Lato;
            font-size: 22px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.23;
            letter-spacing: -0.13px;
            text-align: left;
            color: #2a2f43;
        }
    }


}
