.fa{
    position: relative;
}


@font-face {
    font-family: frseIcons;
    src: url(sansation_bold.woff);
    font-weight: bold;
}

.icon{

    position: relative;
    font-family: 'frseIcons';


    &--danger{
        @extend .icon;
        
    }

}
