.accordion{

    position: relative;

    .accordion__header{
        border-radius: 8px;
        -webkit-backdrop-filter: blur(23px);
        backdrop-filter: blur(23px);
        box-shadow: 0 2px 4px 0 rgba(173, 173, 173, 0.16);
        background-color: #ffffff;
        cursor:pointer;
        overflow: hidden;
    }

    .accordion__primary{
        display: none;
        position: relative;
//
        background: #fff;
        padding: 20px;
    }

    .accordion__tab{
        display: inline-block;
        padding: 20px;
    }

    &.is-fold-true{

        .accordion__primary{
            position: relative;
            display: block;
        }

    }

}
