.archive{
 
    &--products{

        display: grid;
        grid-template-columns: 100%;
        grid-gap: 40px;

        @include rwd( xs ){
            grid-template-columns: 100px calc(100% - 140px) ;
        }

        .archive__list{
            
        }
        
    }

}
