.btn{

    @extend %flex-center;
    position: relative;
    display: flex;
    cursor: pointer;

    .btn__text{
        position: relative;
        .btn__label{ display: block; }
        .btn__sublabel{ display: block; }
    }

    .btn__icon{
        position: relative;
    }

    &--primary{
        @extend .btn;
        background: map-get($colors, primary);
        color: #fff;
        font-family: Lato;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.22;
        letter-spacing: -0.11px;
        text-align: right;
        padding: 19px 24px;
        border-radius: 8px;
        box-shadow: 0 8px 23px 0 rgba(165, 171, 192, 0.25);
    }

    &--color{
        width: 50px;
        height: 50px;
        display: inline-block;
        margin: 0;
        cursor: pointer;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        border: 2px solid #fff;
        &.is-active{
            border: 2px solid yellow;
        }
    }

    &--secondary{
        @extend .btn;
        padding: 10px 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background: none;
        .btn__icon{
            @include icon-center( 40px, 2em );
        }
        .btn__text{

        }
    }

    &--logout{
        @extend .btn;
        .btn__icon{
            @include icon-center( 40px, 2em );
        }
    }

    &--cursor{
        @extend .btn;
        cursor: pointer;
    }

    //SIDEBAR btn--sidebar--bottom
    &--sidebar{
        @extend .btn;
        padding: 15px 15px 15px;


        &:hover{
            background: rgba(255,255,255,0.3);
            &:after{
                @extend %pseudo;
                position: absolute;
                width: 3px;
                height: 100%;
                top:0;
                left:0;
                bottom:0;
                background: #fff;
            }
        }

        .btn__icon{
            @extend %flex-center;
            width: 60px;
            font-size: 2em;
            text-align: center;

            width: 40px;
            height: 40px;
            font-size: 2.2em;
            position: relative;
            &:before{
                position: absolute;
                top: 0;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 0.7em;
            }
        }

        .btn__text{
            flex: 1;
            font-size: 1.125em;
            line-height: 22px;
            color: #dddee1;
            font-weight: 400;
            text-align: left;
        }

        &--sub{
            @extend .btn--sidebar;
            padding-left: 40px;
            .btn__text{
                font-size: 1em;
            }
        }

        &--bottom{
            @extend %flex-center, .btn--sidebar;

            .btn__text{
                padding-left: 20px;
                flex: 1;
                &-title{
                    display: block;
                    padding-bottom: 5px;
                    font-size: 22px;
                    font-weight: bold;
                    color: #dddee1;
                }
                &-value{
                    display: block;
                    color: #dddee1;
                }
            }

            .btn__icon{
                width: 42px;
                height: 42px;
                display: block;
                &:before{
                    left: 0;
                }
            }

        }

    }

}
