.category{

    padding: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    border-top: 3px solid #2a2f43;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.1);
    cursor: pointer;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    "category__title category__title"
    "category__data category__actions";

    .category__title{
        @extend %flex-center;
        grid-area: category__title;
        width: 100%;
        justify-content: flex-start;
    }

    .category__data{
        @extend %flex-center;
        grid-area: category__data;
    }

    .category__actions{
        @extend %flex-center;
        grid-area: category__actions;
        justify-content: flex-end;
    }

}