.description{

    &--topbar{
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: center;
        color: #2a2f43;
        .description__strong{
            color: #044eff;
            font-style: italic;
        }
    }

}

.description--alert--wrong{
    color: #fff;
    margin: 0;
}