.field{

    .field__wrap-label{

    }

    .field__wrap-input{

    }

    .field__label{
        opacity: 0.8;
        font-family: Lato;
        font-size: 12px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.08;
        letter-spacing: normal;
        text-align: left;
        color: #2a2f43;
        text-transform: uppercase;
        padding: 8px;
        box-sizing: border-box;
        display: block;
    }

    .field__info{
        font-size: 11px;
        font-weight: normal;
    }

    .field__input{

    }

}
