
    .font{

        &--table{
            &--header{
                opacity: 0.98;
                font-family: OpenSans;
                font-size: 14px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.36;
                letter-spacing: normal;
                text-align: left;
                color: #2a2f43;
            }
        }

        &--accordion{

            &--header{

                &--order{
                    font-family: Lato;
                    font-size: 18px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.22;
                    letter-spacing: normal;
                    text-align: left;
                    color: #2a2f43;
                }

                &--category{
                    &--name{
                        opacity: 0.8;
                        font-family: Lato;
                        font-size: 14px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.21;
                        letter-spacing: normal;
                        text-align: left;
                        color: #2a2f43;
                    }
                }

                &--date{
                    &--name{
                        opacity: 0.8;
                        font-family: Lato;
                        font-size: 14px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.21;
                        letter-spacing: normal;
                        text-align: left;
                        color: #2a2f43;
                    }
                    &--value{
                        opacity: 0.8;
                        font-family: Lato;
                        font-size: 14px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.21;
                        letter-spacing: normal;
                        text-align: right;
                        color: #2a2f43;
                    }
                }

            }

        }

    }
