//
.form-login{

    form{
        padding: 1em 15px 3em;
    }

    p{
        margin: 2em 0 3em;
    }

    label{
        width: 100%;
        display: block;
        margin: 1em 0 1em;
    }

    input{
        border: 0;
        border-radius: 3px;
        padding: 10px 20px;
        max-width: 100%;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"]{
        width: 240px;
    }

    input[type="submit"]{
        @extend .btn--primary;
        cursor: pointer;
    }

    .description--alert--wrong{
        margin: 0;
    }

}
