.grid{



    &--primary{
        position: relative;
        display: flex;
        flex-wrap: wrap;

        .grid__item{
            &--sidebar{
                @extend .grid__item;
                min-width: 100%;
            }
            &--main{
                @extend .grid__item;
                min-width: 100%;
            }
            @include rwd(sm){
                &--sidebar{
                    min-width: 120px;
                    flex: 2;
                }
                &--main{
                    min-width: 180px;
                    flex: 3;
                }
            }
            @include rwd(md){
                &--sidebar{
                    min-width: 200px;
                    flex: 1;
                }
                &--main{
                    min-width: 400px;
                    flex: 3;
                }
            }
            @include rwd(xl){
                &--sidebar{
                    min-width: 340px;
                    flex: 1;
                }
                &--main{
                    min-width: 400px;
                    flex: 4;
                }
            }
        }

    }

    &--between{
        display: flex;
        align-content: center;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        flex-wrap: wrap;
        .grid__item{
            min-width: 120px;
        }
    }

    &--colors{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, calc(25% - 7.5px));
    }

    &--categories{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 100%;
        @include rwd( md ){
            grid-template-columns: repeat(3, calc(33.333333% - 13.33333px));
        }
        @include rwd( md ){
            grid-template-columns: repeat(3, calc(33.333333% - 13.33333px));
        }
    }



}
