.list{

    position: relative;

    &--sidebar{
        @extend .list;
        
        &--bottom{
            @extend .list--sidebar;

            .list__item{
                margin: 1em 0 2em;
            }
        }

    }

    &--products{
        @extend .grid--categories;
    }

}
