.loop{
    &--product{
        background: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 1px #ccc;
        display: grid;
        grid-template-areas: 
        "loop__thumbnail"
        "loop__grid";
        grid-gap: 0px;
        grid-template-columns: 100%;
        .loop__thumbnail{
            grid-area: loop__thumbnail;
            height: 100px;
            position: relative;
            overflow: hidden;
        }
        .loop__img{
            grid-area: loop__img;
        }
        .loop__grid{
            padding: 10px;
            grid-area: loop__grid;
            display: grid;
            grid-template-areas: 
            "loop__title"
            "loop__data"
            "loop__actions";
            grid-gap: 20px;
            grid-template-columns: 100%; 
            @include rwd( sm ){
                grid-template-areas: 
                "loop__title ."
                "loop__data loop__actions";
                grid-gap: 10px;
                grid-template-columns: 100px calc(100% - 110px); 
            }
        }
        .loop__title{
            grid-area: loop__title;
            margin: 0;
        }
        .loop__data{
            grid-area: loop__data;
        }
        .loop__actions{
            grid-area: loop__actions;
        }
    } 
}