.menu{
    
    position: relative;

    &--sidebar{
        @extend .menu;
        
        .menu__separator{
            position: relative;
            padding: 10px;
            &:after{
                @extend %pseudo;
                position: absolute;
                width: 90%;
                height: 1px;
                top:50%;
                left:5%;
                bottom:0;
                background: #666;
            }
        }

    }

}
