.sidebar{
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    .sidebar__top{
        background-image: linear-gradient(to top, #2a2f43, #0c0d11);
        flex: 2;
    }
    .sidebar__bottom{
        opacity: 0.6;
        background-image: linear-gradient(to top, #2a2f43, #0c0d11);
        padding: 50px 0 80px;
        box-sizing: border-box;
        min-height: 300px; 
    }
}
