.site{
    position: relative;
    display: flex;
    height: 100%;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    flex-direction: column;
}

.site__header{
    position: relative;
}

.site__primary{
    position: relative;
    flex: 1;
}

.site__footer{
    position: relative;
}
