.table{

    position: relative;
    object-fit: contain;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(23px);
    backdrop-filter: blur(23px);
    box-shadow: 0 2px 4px 0 rgba(173, 173, 173, 0.16);
    background-color: #ffffff;

    .table__header{

    }

    .table__body{
        .table__row{
            &:nth-child( odd ){
                background-color: #fafbff;
            }
        }
    }

    .table__row{
        display: flex;
    }

    .table__cell{
        flex: 1;
        @extend %flex-center;
        padding: 16px;
    }

}
