.title{

    position: relative;
    
    

    &--icon{
        @extend %flex-center, .title;
        font-size: 1.4em;
        .title__icon{
            @include icon-center( 35px, 1.6em );
        }
    }

    &--view{
        @extend %flex-center, .title;
        padding: 10px 0 20px;

        .title__icon{
            @extend %flex-center;
            width: 60px;
            height: 60px;
            font-size: 3em;
            position: relative;
            &:before{
                position: absolute;
                top: 0;
                width: 60px;
                height: 60px;
                text-align: center;
                line-height: 0.8em;
            }
        }

        .title__text{
            flex: 1;
            font-size: 1.25em;
        }

    }

}
