.gallery{

    display: grid; 
    grid-gap: 42px;
    grid-template-columns: auto 80px; 

    .gallery__main{
        max-width: 580px;
    }

    .gallery__thumbnails{
        max-width: 80px;
    }

    .gallery__img--main{
        max-width: 580px;
        width: 100%;
        height: auto;
    }

}
