.input{
    position: relative;


    &--number{
        @extend .input;
        .input__input{
            width: 100%;
            padding: 16px;
            object-fit: contain;
            border-radius: 8px;
            -webkit-backdrop-filter: blur(23px);
            backdrop-filter: blur(23px);
            border: solid 1px #dddee1;
            box-sizing: border-box;
        }
    }

    &--info{
        @extend .input;
            width: 100%;
            padding: 16px;
            object-fit: contain;
            border-radius: 8px;
            -webkit-backdrop-filter: blur(23px);
            backdrop-filter: blur(23px);
            box-sizing: border-box;
            .input__value{
                opacity: 0.8;
                font-family: Lato;
                font-size: 13px;
                font-weight: 900;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.08;
                letter-spacing: normal;
                text-align: left;
                color: #2a2f43;
            }
    }

    &--color-select{
        @extend .input;
        .input__value{
            cursor: pointer;
        }
        .input__options{
            display: none;
            &[data-open="true"]{
                display: block;
            }
        }
    }

}
