@import '../../../scss/helpers/rwd.scss';

.product{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: calc(50% - 20px) 50%;

    @include rwd( lg ){
        grid-gap: 60px;
        grid-template-columns: calc(50% - 20px) calc(50% - 40px);
    }

    .grid__gallery{

    }

    .grid__details{

    }

    .product__category{
        opacity: 0.8;
        font-family: OpenSans;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: left;
        color: #2a2f43;
        margin: 28px 0 10px;
    }

    .product__title{
        color: #2a2f43;
        font-size: 40px;
        text-align: left;
        line-height: 44px;
        font-weight: 700;
        margin: 28px 0 28px;
    }

    .product__price{
        color: #2a2f43;
        font-size: 26px;
        text-align: left;
        line-height: 32px;
        font-weight: 900;
        margin: 5px 0 30px;
        .product__price-num{
            font-size: 34px;
        }
    }

    .product__description{
        opacity: 0.8;
        font-family: Lato;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.27;
        letter-spacing: normal;
        text-align: left;
        color: #2a2f43;
        margin: 10px 0 30px;
    }

    .product__form{
        margin: 10px 0 30px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 100%;
        .product__count{
            width: 100%;
        }
        .product__color{
            width: 100%;
        }
        .product__label{
            width: 100%;
        }
        @include rwd( lg ){
            grid-template-columns: repeat(3, calc(33.333333% - 13.3333px));
        }
    }

    .product__projects{
        margin: 10px 0 30px;
    }

    .product__actions{
        margin: 10px 0 30px;
    }

}
