@import '../../../scss/helpers/extend.scss';

.dropdown{
    position: relative;

    .dropdown__btn{
        position: relative;
        cursor: pointer;
        background: #fff;
        color: #fff;
        padding: 15px 25px;
        text-align: left;
        min-height: 50px;
        padding-right: 40px;
        box-sizing: border-box;
        border-radius: 6px;
        border: solid 1px #dddee1;
        box-sizing: border-box;
    }

    .dropdown__value{
        color: #333;
    }

    .dropdown__caret{
        position: absolute;
        right: 0;
        top:0;
        bottom: 0;
        width: 40px;
        height: 100%;
        &:before{
            @extend %pseudo;
            transition: 0.3s;
            position: absolute;
            top: 24px;
            right: 15px;
            width: 0;
            height: 0;
            display: inline-block;
            border: 6px solid transparent;
            border-top-color: #333;
        }
    }

    .dropdown__placeholder{
        color: #666;
        opacity: 0.9;
    }

    .dropdown__options{
        position: relative;
        display: none;
        width: 100%;
    }

    .dropdown__list{
        position: absolute;
        z-index: 10;
        top: 0;
        width: 100%;
        left: 0;
        right: 0;
    }

    .dropdown__option{
        position: relative;
        cursor: pointer;
        background: #fff;
        opacity: 0.9;
        color: #444;
        padding: 10px 25px;
        text-align: center;
        &:hover{
            opacity: 1;
        }
    }

    .dropdown__label{
        position: relative;
        cursor: pointer;
        text-align: center;
    }

    &[data-open="true"]{
        .dropdown__options{
            display: block;
        }
        .dropdown__caret{
            &:before{
                transform: rotate(90deg);
                transition: 0.3s;
                top: 20px;
            }
        }
    }

    &--color{
        @extend .dropdown;
        .dropdown__btn{
            padding: 5px 15px;
            @extend %flex-center;
            justify-content: flex-start;
        }
        .dropdown__label{
            display: block;
        }
        .dropdown__option{
            display: inline-block;
            padding: 5px;
        }
        .dropdown__list{
            border-radius: 6px;
            border: solid 1px #dddee1;
            box-sizing: border-box;
            background: #fff;
        }
    }

}
