@mixin icon-center( $width, $fontSize,  ){
    @extend %flex-center;
    $lHeight: $fontSize / 3;
    text-align: center;
    width: $width;
    height: $width;
    font-size: $fontSize;
    position: relative;
    &:before{
        position: absolute;
        top: 0;
        width: $width;
        height: $width;
        text-align: center;
        line-height: $lHeight;
    }
}
