@function grid( $value, $from:true ) {


    
    @if map-has-key($breakpoints, $value) {
        @if ($from) {
            @return map-get($breakpoints, $value);
        }@else {
            @return map-get($breakpoints, $value) - 1px;
        }
    } @else if is-int($value) {
        @return $value;
    } @else {
        @error 'rwdValue() - wartość nie jest liczbą oraz brak zdefiniowanego breakpointa.';
    }
}